<!doctype html>
<html lang="fr">
  <head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
  </head>
  <body ng-app>
      1 + 1 = {{ 1 + 1 }}
      <hr>
      <input type="text" name="data" ng-model="data"/>
      <p>Message</p> {{ data }}
      <hr>
      <div ng-init="elements = ['a', 'b', 'c']">
          <ul>
              <li ng-repeat="element in elements">{{ element }}</li>
          </ul>    
      </div>
      
  </body>
</html>
