<!doctype html>
<html lang="fr">
  <head>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
  </head>
  
  <script type="text/javascript">
    var app = angular.module('ngrepeatSelect', []);
    app.controller('currencyController', ['$scope', function($scope) {
      
      $scope.availableOptions = [
          {symbol:'€->$', value:'1.06339'},
          {symbol:'$->€', value:'0.940324'},
          {symbol:'$->£', value:'0.800493'}
        ];
        
      $scope.selectedOption = $scope.availableOptions[0];
      $scope.log=[];
      $scope.valueToConvert = 1;
      $scope.resultat = $scope.selectedOption.value * $scope.valueToConvert;
      
      $scope.historise = function(selectedOption, valueToConvert) {
        $scope.resultat = $scope.selectedOption.value * $scope.valueToConvert;
        $scope.log.push(new Date().toLocaleString() + " : conversion "+ selectedOption.symbol + " obtenu : " + $scope.resultat);
      };
      
    }]);
  </script>
  
  <body ng-app="ngrepeatSelect">
      <div ng-controller='currencyController'>
        <form name="myForm">
          <label for="repeatSelect">Select a currency</label>
          
          
          <select ng-model="selectedOption.value">
            
            <option 
              ng-selected="{{ option.value == selectedOption.value }}" 
              ng-repeat="option in availableOptions" 
              value="{{ option.value }}" >
                {{ option.symbol }}
            </option>
            
          </select>
          
          
          <br />
          <label for="valueToConvert" />
          
          
          <input 
            ng-init="valueToConvert"
            type="text"
            name="valueToConvert"
            ng-model="valueToConvert"
          />
            
            
        </form>
        <hr>
        <tt>resultat = {{ resultat }}</tt><br/>
        <hr>
        <h4>historique de conversion</h4>
        <ul>
            <li ng-repeat="e in log">
                {{e}}
            </li>
        </ul>
      </div>
  </body>
</html>
